.custom-select {
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
    option{
        cursor: pointer;
    }
}

.custom-select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}