#chinh-sach-van-chuyen {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.img-chinh-sach {
  max-width: 100%; 
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  line-height: 1.5; 
  color: #000;
}
