.theloailayout-container {
  gap: 20px;
  padding: 10px;
  overflow: hidden;
}

.theloailayout {

  padding: 20px 5%;
}

.category-sidebar {
  display: block;
  // flex: 0 0 20%; /* Chiếm 20% chiều rộng màn hình */
}

.theloaisp {
  display: grid;
  grid-template-columns: repeat(4, 330px);
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
}


.product-name {
  font-weight: bold;
  color: #666;
}

.filter-button {
  display: none;
  color: #000000;
  border: none;
  text-align: center;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.category-filter {
  display: none;
  position: fixed;
  top: 0;
  left: -100%;
  width: 60%;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease-in-out;
  z-index: 99;
}

.category-filter.show {
  left: 0;
}


@media (max-width: 768px) {
  .theloailayout-container {
    padding: 0px 0%;
  }

  .theloailayout {
    flex-direction: column;
    padding: 20px 5%;
  }

  .category-sidebar {
    display: none;
  }

  .filter-button {
    display: block;
  }

  .category-filter {
    display: block;
  }

  .theloaisp {
    grid-template-columns: repeat(2, 1fr);
  }
}