.search-results {
    padding: 20px;
  
    h1 {
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    .results-container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
  
    .result-item {
      width: 200px;
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 10px;
      text-align: center;
  
      .result-image {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
      }
  
      h3 {
        font-size: 16px;
        margin: 10px 0;
      }
  
      p {
        color: #e53935;
        font-weight: bold;
      }
      a{
        text-decoration: none;
        color: inherit;
      }
    }
  }
  