.divbtnxtl {

    display: flex;
    align-items: center;
    float: right;
    gap: 10px;

    .btndelete {
        outline: none;
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: #8b6a38;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 15px;
    }

    .btnhuy {
        outline: none;
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: #dadada;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 15px;
    }
}