
.btnthemtheloai {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border: none;
    box-shadow: 0 4px 6px #584324;
    background-color: #8b6a38;
    color: white;
    border-radius: 5px;
}
.chitiet{
    background-color: #5da522;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border: none;
    box-shadow: 0 4px 6px #584324;
    color: white;
    border-radius: 5px;
}
.xoatheloai{
    background-color: #c20000;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border: none;
    box-shadow: 0 4px 6px #584324;
    color: white;
    border-radius: 5px;
}
.capnhat{
    background-color: #2978f0;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border: none;
    box-shadow: 0 4px 6px #584324;
    color: white;
    border-radius: 5px;
}
.tdchucnang1{
    display: flex;
    justify-content: center;
    gap: 20px;
    
}