#baomat {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.8;
}

.bao-mat-subtitle {
  font-size: 20px;
  font-weight: bold;
}

.img-bao-mat {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
}

.bao-mat-subtitle {
  text-align: start;
}
