#huong-dan-mua-hang {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.8;
  }
  
  .muahang-title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .muahang-subtitle {
    font-size: 18px;
    font-weight: bold;
  }
  
  .muahang-red {
    color: red;
    text-decoration: none;
  }
  
  .muahang-red:hover {
    text-decoration: underline;
  }

  