.sidebar_container{
    width: 300px;
    background-color: black;
    height: 100%;
}

.sidebar_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #8b6a38;
    color: white;
}

.sidebar_logo{
    display: flex;
    
}