#huong-dan-thanh-toan {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
  }
  
  .thanhtoan-title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  
  .bold {
    font-weight: bold;
  }
  