#doi-tra {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.8;
  }
  
  .title {
    margin-bottom: 20px;
  }
  
  .description {
    margin-bottom: 20px;
  }
  
  .subtitle {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .doitra-text {
    margin-bottom: 10px;
  
    strong {
      font-weight: bold;
      font-style: italic;
    }
  }
  